body {
    background-color: #dceaec;
    font-family: "Nunito", sans-serif;
}

.navbar-dark .navbar-brand {
    color: #78A592;
    font-size: 1.5em;
    font-weight: 100;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.5em;
    font-weight: 100;
    font-variant: small-caps;
    color: #dceaec;
}

.navbar-dark .navbar-nav .nav-link:hover {
    font-size: 1.5em;
    font-weight: 100;
    font-variant: small-caps;
    color: #3C6F76;
}

#headinggroup span {
    color: #78A592;
}

h1 {
    font-weight: 100;
    font-size: 2.5rem;
    color: #3C6F76;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    color: #3C6F76;;
    font-weight: 100;
}

.lead {
    font-weight: 100;
    color: #3C6F76;;
    line-height: 2;
}

i {
    color: #3C6F76;
}

.row {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled {
    background: #4f4f4f;
    transition: background 0.5s;
}